<footer class="page-footer p-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-12" id="about">
				<h5 class="white-text">What is this about?</h5>
				<p class="grey-text text-lighten-4">This is a popular challenge done by
					<a target="_new" href="https://jenniferdewalt.com/">Jennifer Dewalt</a>. I'm recreating it for the purpose of learning.</p>
				<p>
					Each day, a new website is developed and learnings are shared (if interested) via any comfortable blogging platform.
				</p>
			</div>
			<div class="col-lg-4 col-sm-12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li>
						<a class="grey-text text-lighten-3" href="https://www.nitinnairwrites.com">Blog</a>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="https://www.facebook.com/NitinNairWrites">Facebook</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© <span>{{copyrightYear}}</span> Nitin Nair
		</div>
	</div>
</footer>