<div class="jumbotron">
	<span id="featured-span-head" class="text-white font-weight-bold">What's completed ?</span>
	<h3 class="animated fadeInDown">{{siteTitle}}</h3>
	<p class="lead animated fadeInUp">{{siteDesc}}</p>
	<hr class="my-4">
	<div class="d-flex justify-content-around align-items-center">
		<a class="btn btn-lg visitBtn" href="{{siteLink}}" role="button">visit</a>
		<p class="text-muted d-none d-sm-block">Latest Commit: <span style="color:teal;">{{siteCommit}}</span></p>
		<p class="text-muted d-none d-sm-block">
			Completed on: <span style="color:teal;">{{siteDate}}</span>
		</p>
	</div>
</div>