<div class="row">
	<div class="col-sm-3 col-md-2 col-lg-2">
		<app-side-nav (cardTypeEvent)="receiveCardType($event)"></app-side-nav>
	</div>
	<div class="col-sm-9 col-md-10 col-lg-10">
		<div class="row">
			<div class="col-12 sm-1 col-md-4 col-lg-3 col-xl-3" *ngFor="let card of cards">
				<div class="card animated zoomIn" style="animation-delay: 700ms">
					<div class="card-body text-center">
						<h6 class="card-title">{{card.siteTitle}} - <span>#{{card.siteID}}</span></h6>
						<p class="card-text">{{card.siteDesc}}</p>
						<a *ngIf="card.isComplete" href="{{card.siteLink}}" id="link{{card.siteID}}" class="btn btn-primary card-link visitBtn">visit</a>
						<span *ngIf="!card.isComplete" class="text-muted">To be started!</span>
					</div>
					<div class="card-footer text-center">
						<span *ngIf="card.isComplete">{{card.completionDate}}</span>
						<span *ngIf="!card.isComplete">TBD</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>