@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

:root {
  font-family: 'Markazi Text', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: white;
}

.no-underline,
.no-underline:hover {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
